<% title '自分のほめノート' %>

<div class="container">
  <h1 class="orange-text text-darken-3">自分のほめノート</h3>
  <p>自分が書いたほめノートの一覧</p>

  <!-- Messages -->
  <%= render 'messages/messages', message: @message %>
</div>
